# ===== Python =====
venv/
.venv/
__pycache__/
*.pyc

# ===== Node / Frontend =====
node_modules/
dist/

# ===== Environment files =====
.env

# ===== OS / Editor =====
.vscode/
.DS_Store
Thumbs.db   